<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="icon" type="image/svg+xml" href="/img/cd-config-server-logo.svg">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa&amp;display=swap" rel="stylesheet">
  <style>
    html {
      background-color: #eee;
    }

    a,
    html {
      font-family: 'Comfortaa', Verdana, Geneva, Tahoma, sans-serif;
      color: #333;
    }

    a:link,
    a:visited {
      color: #c86dd7;
    }

    main {
      padding: 5rem;
      box-sizing: border-box;
      max-width: 80%;
      margin: 50px auto;
      background-color: #fff;
      border-radius: 5rem;
    }

    img {
      max-width: 100%;
      height: auto;
      margin: 0 auto;
      display: block;
      filter: drop-shadow(0 0 15px #ccc);
    }

    h1,
    h2,
    h3 {
      color: #3023ae;
    }

    h1 {
      text-align: center;
      margin: 3rem 0;
      line-height: 1.4;
    }

    h2 {
      margin-top: 3rem;
    }

    h3 {
      margin-top: 2rem;
    }

    code {
      font-family: monospace;
      background-color: #333;
      display: block;
      color: #fff;
      padding: 1rem;
    }

    li {
      line-height: 2;
    }
  </style>
</head>

<body>
  <main>

    <img width="200" height="200" src="/img/cd-config-server-logo.svg" alt="" />

    <h1>{{ title }}</h1>

    <img src="/img/cd-config-server-flow.svg" alt="" width="1024" height="512" />

    <h2>Documentation</h2>
    <ul>
      <li><a href="/api">Open Api</a></li>
      <li><a href="https://hub.docker.com/r/markusfalk/cd-config-server">Documentation</a></li>
      <li><a href="https://github.com/markusfalk/cd-config-server/issues">Report issues</a></li>
    </ul>

  </main>
</body>

</html>
